html {
    color: #ffffff;
    background-color: #434343;
}

nav.navbar {
    color: #ffffff;
    background-color: #999999;
}

div main div {
    background-color: #999999;
    color: #ffffff;
}

ul.box {
    background-color: #999999;
    color: #ffffff;
}
